ACKNOWLEDGEMENT
This is to acknowledge that a nomination for Distinguished Alumni Award (DAA) of IIT Roorkee has been received with the following details:
1. Nominee
Name : {{ form.nominee_name.value }}
Email : {{ form.nominee_email.value }}
Contact No. : {{ form.nominee_contact.value }}
Degree obtained from University of Roorkee/IIT Roorkee : {{ form.nominee_degree.value }}
Year of Graduation : {{ form.nominee_yearpass.value }}

2. Category of Nomination
{{ form.nominee_category.value }}

3. Nominator
Name : {{ form.nominator_name.value }}
Email : {{ form.nominator_email.value }}
Contact No. : {{ form.nominator_contact.value }}

IIT Roorkee thanks the Nominee and the Nominator for their valuable time and efforts.
With best regards,
Dean of Resources & Alumni Affairs (DORA), IIT Roorkee
