{% autoescape off %}

{% if not is_visitor %}
{% if sub.user.name %}Hello {{ sub.user.name }}{% endif %}
<br>
<p>You have been unsubscribed successfully </p>
<br><br>

<p>   
This message was sent to {{ sub.user.email_1 }}  {{ sub.user.name }} .<br>
If you want to resubscribe for  any updates from Alumni Affairs IIT Roorkee, <a href="http://{{ domain }}{% url 'Core:resubscribe' sub.subscription_key %}">this link </a>
</p>
{% else %}
<p>You have been unsubscribed successfully </p>
<br><br>

<p>   
This message was sent to {{ sub.email }} .<br>
If you want to resubscribe for  any updates from Alumni Affairs IIT Roorkee, <a href="http://{{ domain }}{% url 'Core:resubscribe_visitor' sub.subscription_key %}">this link </a>
{% endif %}
{% endautoescape %}